<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= pageTitle %></title>
</head>
<body>

<form method="POST" action="/new-password">
<input type="text" name="newPassword" placeholder="Enter new password" />
<input type="text" name="confirmNewPassword" placeholder="Confirm new password" />
<input type="text" hidden name="token" value=<%= token %> placeholder="Confirm new password" />
<button type="submit">CHANGEs PASSWORD</button>
</form>



</body>
</html>
