@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


.App {
  text-align: center;
  font-family: 'Raleway',sans-serif;
  font-weight: bolder;
  background-color: #eee;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button{
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  font-family: 'Raleway',sans-serif;
  border-radius: 2px;
    box-shadow: 1px 1px 1px  1px #ccc;
  padding: 5px 15px 5px 15px;
  /*border-style: double;*/
  background-color: dodgerblue;
}
.button:hover{
  background-color: blue;
  color: white;
    box-shadow: 1px 1px 1px  1px #ccc;
}

.input{
  border: solid 2px #ccc ;
  border-radius: 5px;
  outline-color:dodgerblue;
  padding: 8px 6px 8px 6px;
}