.tableHead{
    background-color: dodgerblue;
    color:white;
  
    padding:10px 20px;
    width:100vw;
}
.tableCell{
    border:solid 1px white;
    padding:5px 10px;
    border:solid 1px black;
}

.wrapper{
   display: flex;
   justify-content: center;
}

.save-button{
    cursor: pointer;
    border:none;
}

.remove-button{
    cursor: pointer;
    border: none;
}
