.main{
	padding:5px;
	display:flex;
	max-height: calc(100vh - 120px);
	min-height: calc(100vh - 120px);
}
.tab-titles{
	font-weight: 500;
	color:grey;
	padding:5px;
	padding-left:15px;
	padding-right:15px;
	/*margin-bottom:10px;*/
}
.tab-titles:hover{
	color:grey;
	font-weight: 600;
	transition:all 200ms;
	cursor: pointer;
	transform: scale(1.1);
	/*margin-bottom:-10px;*/
	border-bottom:solid 2px red;
	/*text-decoration: underline;*/
}
.tab-titles-active{
	font-weight: 500;
	color:grey;
	padding:5px;
	padding-left:15px;
	padding-right:15px;
	color:red;
	font-weight: 600;
	transition:all 200ms;
	cursor: pointer;
	transform: scale(1.1);
	/*border-bottom:solid 2px red;*/
}

.card{
	margin:5px;
	max-height:60px;
	/*padding-bottom:10px;*/
	display:grid;
	grid-template-columns: 0.5fr 3fr 2fr;
	border-bottom:solid 1px #eee;
	/*border-le:solid 1px #eee;*/
	/*border-radius: 5px;*/
	/*background: #f7f7f7;*/

		/*border:solid 1px black;*/
		/*min-height:100px;*/
}
.card:hover{
	cursor: pointer;
	background: #eee;
	border-left:solid 5px red;
}
.card-photo{
	max-height:60px;
	/*border:solid 1px black;*/
}
.card-title{
		font-size:5;
		max-height:60px;
display:grid;
/*grid-gap: -10px;*/
grid-template-rows:1fr 1fr;
	/*border:solid 1px black;*/
	padding-top:10px;
	padding-bottom:10px;

}
.card-options{
		font-size:5;
		max-height:60px;
	display:grid;
	grid-template-rows:1fr 1fr;
		/*border:solid 1px black;*/

}

.list-container{
	overflow-y: scroll;
	max-height: calc(100vh - 180px);
}
.pagination-toolbox{
	margin-top:10px;
	margin-bottom:0px;
	min-height:40px;
	background-color: #eee;
	/*border-radius: 5px;*/
	padding:10px;
	text-align: right;
}